* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}

:root {
    /* Primary */
    --Blue: hsl(246, 80%, 60%);

    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-selfcare: hsl(43, 84%, 65%);

    /* ### Neutral */

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Active-blue: hsl(236, 40%, 35%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
    --Corner-radius: 15px;
    --Padding-sides: 20px;
}

body {
    background: var(--Very-dark-blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.parent {
    display: grid;
    gap: 1.4em;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    max-width: 1000px;
}

.profile {
    grid-row: 1 / 3;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.profile img {
    width: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
    margin-bottom: 0.9em;
}

.profile-top {
    background: var(--Blue);
    border-radius: var(--Corner-radius);
    padding: calc(2em + 2px) var(--Padding-sides) 3.3em;
    transform: translateY(10px);
    margin-top: -10px;
}

.profile-top span {
    font-size: 0.6rem;
    color: var(--Pale-Blue);
}

.profile-top p{
    font-size: 1.8rem;
    font-weight: 300;
}

.profile-top p:first-of-type{
    margin-top: 0.2em;
}

.profile-down {
    background: var(--Dark-blue);
    border-radius: 0 0 var(--Corner-radius) var(--Corner-radius);

    padding: var(--Padding-sides);
}

.profile-down a {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--Desaturated-blue);
    cursor: pointer;
}

.active {
    color: #fff !important;
}

.profile-down li {
    list-style: none;
    margin: 0.5em 0;
}


/* Tasks  */

.task h1{
    font-size: 2.7rem;
    font-weight: 300;
    margin-top: 0.35em;
}
.task span {
    font-weight: 400;
    font-size: 0.7rem;
    color: var(--Pale-Blue);
}

.wrapper{
    background: var(--Dark-blue);
    border-radius: var(--Corner-radius);
    padding: var(--Padding-sides);
    transform: translateY(-10px);
    cursor: pointer;
}

.wrapper p{
    font-weight: 500;
    font-size: 0.8rem;
}

.wrapper img{
    width: 15px;
    cursor: pointer;
}

.wrapper:hover{
    background: var(--Active-blue);
}

.wrapper div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Background images */
.bg{
    display: flex;
    justify-content: flex-end;
    border-radius: var(--Corner-radius) var(--Corner-radius) 0 0; 
    padding: 0 0.3em 1em;
    position: relative;
    height: 41px;
    overflow: hidden;
}

.bg img{
    width: 50px;
    position: absolute;
    right: 16px;
    top: -1px;
}

.bg-work{
    background: var(--Light-red-work);
}

.bg-play{
    background: var(--Soft-blue-play);
}

.bg-study{
    background: var(--Light-red-study);
}

.bg-exercise{
    background: var(--Lime-green-exercise);
}

.bg-social{
    background: var(--Violet-social);
}

.bg-self-care{
    background: var(--Soft-orange-selfcare);
}

.bg-self-care img{
    width: 45px;
    top: -8px;
}